

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%- include("header.ejs") %>
    </header>
<center>
    <p>
        hello this is normal project , i didnt use any database , only js Variables ,<br>
        i used ejs  , express , and some middlewares what ever . <br> 
        if you want to see the code on github <a href="https://github.com/Lampsi01/BlogAPP.git" target="_blank">click here</a> 
    </p>
</center>
    
</body>
</html>